{% extends 'authentification/base-log.html.twig' %}

{% block body %}
    <h1>Bienvenue sur TaskLinker</h1>
    <p class="sous-titre">Commencez dès maintenant - gratuitement</p>

    <p>Vous avez déjà un compte ?</p>
    <a href="{{ path('app_login') }}" class="loginButton">Se connecter </a>
    <div class="separator">
        <hr>
        <p>ou</p>
        <hr>
    </div>
    <a href="{{ path('app_register') }}" class="loginButton connect">S'inscrire </a>

{% endblock %}